.lakelandcup-container {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 800px;
  margin: 0 auto;

}

.lakelandcup-navbar-spacer{
  position: sticky;
  height: 1rem;
  background: #fff;
  z-index: 99;
  top: 4rem;
}
.lakelandcup-navbar-logo {
  height: 3rem;
  width: auto;
  object-fit: contain;
  border: none;
}
.lakelandcup-navbar-spacer > .container {
  width: 100%;
}
.lakelandcup-navbar {
  height: 4rem;
  background: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  z-index: 99;
  position: sticky;
  top:0;
  position: -webkit-sticky;

}
@media (max-width: 1280px) {
}

@media (max-width: 960px) {
}

@media (max-width: 840px) {
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .lakelandcup-container  {
    padding:0;
    margin:0;
  }
}